# ==========================================
# BACKEND — Template Konfigurasi
# ==========================================

DATABASE_URL=postgresql://japfa_user:GANTI_DENGAN_PASSWORD_KUAT@localhost:5432/.....

# --- JWT AUTH ---
# Generate: python3 -c "import secrets; print(secrets.token_hex(64))"
SECRET_KEY=GENERATE_DENGAN_PERINTAH_DI_ATAS
REFRESH_SECRET_KEY=GENERATE_BERBEDA_DARI_SECRET_KEY
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=1440

# --- EXTERNAL SERVICES ---
# TomTom: https://developer.tomtom.com/
TOMTOM_API_KEY=ISI_API_KEY_TOMTOM_KAMU
TRAFFIC_VALIDATION_ENABLED=true

# OSRM (self-hosted routing server)
OSRM_BASE_URL=http://IP_SERVER_OSRM:5000

# --- APP CONFIG ---
APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000